#wrapper{
    display:grid;
    background-image:linear-gradient(lavender, lavender);
    grid-template-columns:1fr 2fr;
    grid-auto-rows:max-content;
    align-items:center;
    border-radius:20px;
    grid-template-areas:"head head"
                        "kalender info"
                        "kalender historie";}
.header{
    grid-column:1/span 2;
    background-color:blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    align-self:stretch;
    text-align:center;
    border-radius:20px 20px 0px 0px;}
.kalender{
    grid-area:kalender;
    grid-column:1;
    border-style:hidden;
    text-align:center;
    margin-top:24px;
    margin-bottom:24px;
    margin-left:24px;
    line-height:50px;
    box-shadow:10px 10px 10px darkgrey;}
#monatheader{
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas:"mheader1 mheader2";
    border-collapse:collapse;
    margin-top:5px;}
#monatheader .left{
    grid-area:mheader1;
    font-size:large;
    font-weight:bold;
    text-align:start;
    background-color:black;
    color:white;
    line-height:20px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;}
#monatheader .right{
    grid-area:mheader2;
    font-size:large;
    font-weight:bold;
    background-color:black;
    color:white;
    text-align:end;
    line-height:20px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;}
.wochentag{
    grid-area:wochentag;
    background-color:darkslateblue;
    color:white;
    font-size:large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width:100px;
    min-width:100px;
    line-height:30px;}
.samstag{
    grid-area:samstag;
    background-color:darkslateblue;
    color:white;
    font-size:large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width:100px;
    min-width:100px;
    line-height:30px;}
.sonntag{
    grid-area:sonntag;
    background-color:darkslateblue;
    color:white;
    font-size:large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width:100px;
    min-width:100px;
    line-height:30px;}
.kw{
    max-width:50px;
    min-width:50px;
    background-color:darkslateblue;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.kwdate{
    color:black;
    font-size:small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.datum{     
    color:darkslateblue;
    font-size:xx-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.datumsa{   
    color:darkslateblue;
    font-size:xx-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.datumso{   
    color:darkslateblue;
    font-size:xx-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.nichtmärz{
    color:grey;
    font-size:x-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
table,th,td{
    border-collapse:collapse;
    border-style:hidden;
    margin-left:12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:linen;}
.infotext{  
    grid-area:info;
    grid-column:2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    color:darkslateblue;
    font-size:larger;
    margin-top:24px;
    margin-bottom:-10px;
    margin-left:24px;
    margin-right:24px;
    background:lavender;
    border-left:7px solid darkslateblue;
    padding-left:6px;}
.historyhead{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-line: underline;
    text-align:left;
    color:linen;
    padding-top:-24px;
    text-shadow:0px 2px 3px lavender;}
.historie{  
    grid-area:historie;
    grid-column:2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    color:linen;
    background-color:darkslateblue;
    text-align:left;align-items:center;
    margin-right:24px;
    margin-left:24px;
    margin-bottom:24px;
    padding-bottom:24px;
    padding-right:12px;
    border-radius:10px;}
.nichtmärz:hover{
    background-color:khaki;}
.datum:hover{
    background-color:gold;}
.datumsa:hover{
    background-color:gold;}
.datumso:hover{
    background-color:gold;}
/*meta query für überlappende zellen
@media(max-width:2000px){#wrapper{
    display:grid;
    background-image:linear-gradient(lavender, lavender);
    grid-template-columns:1fr;
    grid-auto-rows:max-content;
    align-items:center;
    border-radius:20px;
    grid-template-areas:"head"
                        "kalender"
                        "kalender"
                        "info"
                        "historie";}}*/