#wrapper{   
    display:grid;
    grid-gap:1rem;
    background-color:lavenderblush;
    background-image:linear-gradient(linen, lavender);
    grid-template-columns:1fr 2fr;
    grid-auto-rows:max-content;
    align-items:baseline;
    grid-template-areas:"head head"
                        "kalender info"
                        "kalender historie"
                        "footer footer";}
.header{
    grid-column:1/span 2;
    background-color:linen;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslateblue;
    align-self:stretch;
    text-align:center;}
.kalender{
    grid-area:kalender;
    grid-column:1;
    text-align:center;
    line-height:50px;}
#monatheader{
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas:"mheader1 mheader2";
    border-collapse:collapse;    
    }
#monatheader .left{
    grid-area:mheader1;
    font-size:large;
    font-weight:bold;
    text-align:start;
    background-color:black;
    color:white;
    line-height:20px;}
#monatheader .right{
    grid-area:mheader2;
    font-size:large;
    font-weight:bold;
    background-color:black;
    color:white;
    text-align:end;
    margin-right:30px;
    line-height:20px;}
.wochentag{
    grid-area:wochentag;
    background-color:darkslateblue;
    color:white;
    font-size:small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width:80px;
    min-width:80px;
    line-height:30px;}
.samstag{
    grid-area:samstag;
    background-color:darkslateblue;
    color:white;
    font-size:small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width:80px;
    min-width:80px;
    line-height:30px;}
.sonntag{
    grid-area:sonntag;
    background-color:darkslateblue;
    color:white;
    font-size:small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width:80px;
    min-width:80px;
    line-height:30px;}
.kw{
    width:40px;
    background-color:darkslateblue;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.kwdate{
    color:black;
    font-size:small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.datum{     
    color:darkslateblue;
    font-size:xx-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.datumsa{   
    color:darkslateblue;
    font-size:xx-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.datumso{   
    color:darkslateblue;
    font-size:xx-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.nichtmärz{
    color:grey;
    font-size:x-large;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
table,th,td{
    border-collapse:collapse;
    border:1px solid silver;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:linen;}
.auswahl{
    border:5px solid gold}
.infotext{  
    grid-area:info;
    grid-column:2;
    font-family:sans-serif;
    color:darkslateblue;
    font-size:larger;
    /*text-align:left;*/
    margin-left:2em;
    margin-right:10em;}
.historyhead{
    text-decoration-line: underline;
    text-align:left;
    color:darkslateblue;}
.historie{  
    grid-area:historie;
    grid-column:2;
    font-family:sans-serif;
    font-size:large;
    color:darkslateblue;
    text-align:left;
    margin-right:10em;}
.footer{    
    grid-area:footer;
    grid-column:1/span 2;
    font-family:sans-serif;}